certifi==2025.11.12
charset-normalizer==3.4.4
docutils==0.22.3
filetype==1.2.0
idna==3.11
Kivy==2.3.1
Kivy-Garden==0.1.5
Pygments==2.19.2
requests==2.32.5
urllib3==2.6.2
pillow==10.4.0

# kivy-deps.angle==0.4.0; sys_platform == 'win32'
# kivy-deps.glew==0.3.1; sys_platform == 'win32'
# kivy_deps.sdl2==0.8.0; sys_platform == 'win32'
# pypiwin32==223; sys_platform == 'win32'
# pywin32==311; sys_platform == 'win32'